emotion/emotion/j5.jpg
emotion/emotion/yeri.mp4
emotion/emotion/jenny2.mp4
emotion/emotion/data/Gudi_model_100_epochs_20000_faces.index
emotion/emotion/data/Gudi_model_100_epochs_20000_faces.data-00000-of-00001
emotion/emotion/paper/Report_NN.pdf
pn_emotion_copy3/emotion/data/checkpoint
pn_emotion_copy3/emotion/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
pn_emotion_copy3/emotion/.ipynb_checkpoints/Untitled-checkpoint.ipynb
pn_emotion_copy3/emotion/data/emotion_recognition-9800.index
pn_emotion_copy3/emotion/data/emotion_recognition-9800.data-00000-of-00001
pn_emotion_copy3/emotion/yeri.mp4
pn_emotion_copy3/emotion/emma0.mp4
pn_emotion_copy3/emotion/jenny.mp4
new_emotion/emotion/yeri.mp4
pn_emotion_copy3/emotion/paper/Report_NN.pdf
new_emotion/emotion/paper/Report_NN.pdf
